{% extends 'main2.html' %}

{% block main %}

<link rel="stylesheet" href="assets/css/styConocenos.css">
<div class="portConocenos">
    <div class="tituCO">
        <h1 class="tituConocenos">Sureste México</h1>
    </div>
</div>

<div class="container">
    <h2 class="titulooconocenos">¿Qué es Sureste México?</h2>
    <br>
    <p class="parrafoconocenos">SuresteMéxico.com es el mejor lugar para preparar tus próximas vacaciones,
    solo o acompañado;ofrecemos los mejores servicios turísticos del país, 
    desde hospedaje, transporte, tours hasta paquetes turísticos que incluyen 
    muchos beneficios.</p>
    
</div>


<div class="container">
    <h2 class="titulooconocenos">¿Por que elegir Sureste México</h2>
    <br>
    <p class="parrafoconocenos">
    Ofrecemos la mejor tasa de precios y descuentos frente a las demás agencias,
    contamos con un servicio de atención al cliente 24 / 7  ya
    que priorizamos a nuestros usuarios y su integridad. </p>
</div>

<div class="container">
    <h2 class="titulooconocenos">Nos preocupamos por ti</h2>
    <br>
    <p class="parrafoconocenos">Sureste México ofrece una excelente calidad en todo sus servicios,
    contamos con la mejor seguridad física y digital a todos nuestro usuarios,
    ya que tu seguridad es lo más importante para nosotros. </p>
</div>
{% endblock %}