{% extends 'main2.html' %}

{% block main %}
<link rel="stylesheet" href="./assets/css/Infop.css">
<link rel="stylesheet" href="./assets/css/styMap.css">
<script src="./assets/js/apiMapas.js"></script>
<script src="./assets/js/apiYutu.js"></script>

        <div id="carouselExampleFade" class="carousel slide carousel-fade">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/carruImg/qrro1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./assets/carruImg/qrro2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./assets/carruImg/qrro3.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h1 class="titulo" id="direccion">Quintana Roo</h1>
                    <p class="info">Descubre el Caribe Mexicano, en Quintana Roo, una región única en el mundo, diversa en cuanto a destinos y atractivos turísticos: Mar azul, playas de arena blanca, selva tropical, zonas arqueológicas, cenotes, ríos subterráneos, islas, lagunas, cultura Maya viva e historia.
                    Con una infraestructura que compite a nivel mundial por la variedad en su oferta de hospedaje, gastronomía típica e internacional, conectividad, multiculturalidad y recursos naturales.
                    Conoce sus 14 destinos turísticos: Holbox, Isla Mujeres, Costa Mujeres, Cancún, la Riviera Maya, que comprende a Puerto Morelos, Playa del Carmen y Tulum, Isla Cozumel, Maya Ka’an así como la Grand Costa Maya integrada por Mahahual, Bacalar y Chetumal.
                    </p>
                </div>
                <div class="col-4">
                    <img src="./assets/carruImg/qrro0.jpg" alt="">
                </div>
            </div>

        </div>

        <div class="contMapa">
            <h2 class="titulo2">Para conocer más de Quitana Roo</h2>
            <div class="mapita">
                <div id="map" class="map">
        
                </div>
            </div>
        </div>

        <div class="container">
            <img src="{{apiClima[0]}}" alt="">
            <p> La temperatura es de : {{apiClima[1]}}</p>
            <p>La humedad es de: {{apiClima[2]}}</p>
        </div>

        <div class="container">
            <h2 class="titulo2">Descubre Quintana Roo:</h2>
            <div id="player"></div>
        </div>
        
        
        <input id="idVideo" name="prodId" type="hidden" value="{{video}}" />
        <script async src={{maps}}></script>

{% endblock %}