.lola{
    background: url(../img/hotelofertasini.jpg);
    height: 600px ;
    background-size: cover ;
}

.portPlayas{
    background: url(../img/portadaplaya.jpg);
    height: 853px;
    background-size: cover;
    opacity: 0.9;
}